<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myron.heyihui">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!--保持手机唤醒-->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:name=".com.example.myron.heyihui.BaseApp"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".com.example.myron.heyihui.activity.LoginActivity"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <activity android:name=".com.example.myron.heyihui.activity.Main2Activity"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <activity android:name=".com.example.myron.heyihui.activity.Detail_Product" />
        <activity android:name=".com.example.myron.heyihui.activity.Detail_Product2" />
        <activity android:name=".com.example.myron.heyihui.activity.Detail_sr" />
        <activity android:name=".com.example.myron.heyihui.activity.Detail_zhichu" />
        <activity android:name=".com.example.myron.heyihui.activity.Detail_jf" />
        <activity android:name=".com.example.myron.heyihui.activity.Detail_msg" />
        <activity android:name=".com.example.myron.heyihui.activity.Detail_msg2" />
        <activity android:name=".com.example.myron.heyihui.activity.Detail_yj" />
        <activity android:name=".com.example.myron.heyihui.activity.Detail_xq" />
        <activity android:name=".com.example.myron.heyihui.activity.Detail_zc_detail" />
        <activity android:name=".com.example.myron.heyihui.activity.OrderProcess" />
        <activity android:name=".com.example.myron.heyihui.activity.GuideActivity">

        </activity>
        <activity android:name=".com.example.myron.heyihui.activity.SplashActivity" android:noHistory="true"/>
        <activity android:name=".com.example.myron.heyihui.activity.FirstPage"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".com.example.myron.heyihui.activity.Mall.SearchActivity"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".com.example.myron.heyihui.activity.Mall.MallList"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".com.example.myron.heyihui.activity.Mall.MallProductDetail"
            android:windowSoftInputMode="adjustPan"/>
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.myron.heyihui.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <!-- 元数据 -->
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>